@reference '../../../../app/global.css';

.auth_not7 {
  @apply flex items-center space-x-2;
}
.auth_not8 {
  @apply text-pink-500;
}
.auth_not9 {
  @apply flex items-center space-x-2;
}
.auth_not10 {
  @apply text-pink-500;
}
.auth_bjr7 {
  @apply px-12 py-[6px] rounded-md border-1 text-auth-color-button border-pink-600 transition-all duration-200 hover:bg-auth-hover hover:text-auth-color-bg-white sm:py-[6px] sm:w-65 md:w-[332px] lg:w-45 lg:mt-3;
}
.auth_bjr8 {
  @apply px-12 py-[6px] mb-2 bg-auth-color-button mt-3 text-auth-color-bg-white rounded-md hover:bg-auth-hover sm:w-full lg:w-42;
}
.auth_reca1 {
  @apply hidden sm:w-full sm:h-20 sm:flex sm:not-first:h-23;
}
.auth_reca2 {
  @apply h-15 w-auto mt-2 ml-6 sm:h-20;
}
.auth_reca3 {
  @apply w-full h-18 text-center sm:h-26 md:px-8;
}
.auth_reca4 {
  @apply text-lg font-semibold text-[#822072] mb-2 sm:mb-1 lg:mb-5 sm:text-lg lg:text-xl;
}
.auth_reca5 {
  @apply text-[12px] w-full sm:text-base md:text-sm text-[#B15C8B] leading-relaxed lg:text-[16px];
}
.auth_reca6 {
  @apply hidden lg:block;
}
.auth_reca7 {
  @apply px-20 sm:px-7 md:px-10 lg:px-25;
}
.auth_reca8 {
  @apply w-full flex flex-col gap-3 mt-2 sm:mt-2 lg:pl-10;
}
.auth_reca9 {
  @apply w-full h-5 flex items-center;
}
.auth_reca10 {
  @apply text-sm font-medium text-[#B15C8B] lg:ml-10;
}
.auth_reca11 {
  @apply space-x-[100%] px-16 w-full h-8 flex items-center justify-center sm:space-x-30 md:space-x-48 lg:space-x-34;
}
.auth_reca12 {
  @apply w-full h-40 lg:px-10;
}
.auth_reca13 {
  @apply flex flex-col space-y-1;
}
.auth_reca14 {
  @apply mb-2 text-[#b15c8b] text-sm font-medium;
}
.auth_reca15 {
  @apply mb-2;
}
.auth_reca16 {
  @apply space-y-1;
}
.auth_reca17 {
  @apply block text-sm font-medium text-[#b15c8b];
}
.auth_reca18 {
  @apply w-full border border-pink-400 bg-[#fadbf0] rounded-sm px-3 py-5 flex items-center gap-2 hover:bg-[#f5d0e8] transition-colors;
}
.auth_reca19 {
  @apply flex items-center gap-2;
}
.auth_reca20 {
  @apply h-4 w-6 rounded-sm object-cover;
}
.auth_reca21 {
  @apply truncate text-[#b15c8b];
}
.auth_reca22 {
  @apply max-h-[250px] overflow-y-auto;
}
.auth_reca23 {
  @apply hover:bg-[#fadbf0] focus:bg-[#fadbf0] cursor-pointer;
}
.auth_reca24 {
  @apply flex items-center gap-2;
}
.auth_reca25 {
  @apply h-4 w-6 rounded-sm object-cover;
}
.auth_reca26 {
  @apply truncate text-[#b15c8b];
}
.auth_reca27 {
  @apply flex px-40 h-5 space-x-[100%] sm:block w-full sm:h-10 lg:flex sm:px-7 md:px-10 sm:space-x-25 justify-center items-center mt-2;
}
