@reference '../../../../../../app/global.css';

.auth_left1 {
  @apply h-15 border-b-2 border-[#E5E7EB] flex w-full;
}
.auth_left2 {
  @apply w-[27%] h-15 flex justify-center items-center;
}
.auth_left3 {
  @apply w-13 h-13 bg-pink-600 rounded-full flex justify-center items-center;
}
/* .auth_left4 {
  @apply w-2 h-2 bg-green-500 absolute mt-9 ml-9 rounded-full;
} */
.auth_left5 {
  @apply w-[73%] h-6;
}
.auth_left6 {
  @apply w-full h-6 flex;
}
.auth_left7 {
  @apply w-[60%] flex items-center text-black;
}
.auth_left8 {
  @apply w-[30%] flex items-center text-black text-[13px];
}
.auth_left9 {
  @apply w-[10%] h-10 flex items-center justify-center;
}
.auth_left10 {
  @apply text-pink-500 cursor-pointer mt-[-12px];
}
.auth_left11 {
  @apply auth-background w-0.5 h-0.5 rounded-full;
}
.auth_left12 {
  @apply w-43 p-2 rounded-sm border border-white shadow-md shadow-gray-400;
}
.auth_left13 {
  @apply w-50 h-6 flex;
}
.auth_left14 {
  @apply w-[16%] h-6 flex items-center;
}
.auth_left15 {
  @apply w-[84%] flex items-center h-7 text-[12px];
}
.auth_left16 {
  @apply w-50 h-7 flex;
}
.auth_left17 {
  @apply w-[16%] h-7 flex items-center text-red-500;
}
.auth_left18 {
  @apply w-[84%] flex items-center h-7 text-red-500 text-[12px];
}
.auth_left19 {
  @apply w-full h-10 flex;
}
.auth_left20 {
  @apply w-[70%] h-10 flex items-center text-gray-500;
}
/* .auth_left21 {
  @apply bg-violet-400-400 w-[30%] h-10 justify-center flex items-center;
} */
.auth_left22 {
  @apply auth-background w-5 h-5 rounded-full flex items-center justify-center text-white text-[12px];
}
