@reference '../../../../../app/global.css';

.auth_msg1 {
  @apply w-full h-screen bg-green-300;
}
.auth_msg2 {
  @apply w-full h-screen bg-white flex;
}
.auth_msg3 {
  @apply w-[6%] h-screen;
}
.auth_msg4 {
  @apply bg-[#F9FAFB] w-[20%] h-screen border-2 border-[#E5E7EB];
}
.auth_msg5 {
  @apply w-full h-25 px-3 border-b-2 border-[#E5E7EB];
}
.auth_msg6 {
  @apply h-10 flex items-center;
}
.auth_msg7 {
  @apply h-15 flex;
}
.auth_msg8 {
  @apply w-[90%] h-15 flex items-center;
}
.auth_msg9 {
  @apply w-[10%] h-15 flex items-center;
}
.auth_msg10 {
  @apply w-full;
}
.auth_msg11 {
  @apply bg-white w-[54%] h-screen;
}
.auth_msg12 {
  @apply bg-[#F9FAFB] w-[20%] h-screen border-2 border-[#E5E7EB] px-2;
}
.auth_left1 {
  @apply w-full h-15 border-b-2 border-[#E5E7EB] flex;
}
.auth_left2 {
  @apply w-[27%] h-15 flex justify-center items-center;
}
.auth_left3 {
  @apply w-13 h-13 bg-pink-600 rounded-full;
}
.auth_left4 {
  @apply w-2 h-2 bg-green-500 absolute mt-9 ml-9 rounded-full;
}
.auth_left5 {
  @apply w-[73%] h-6;
}
.auth_left6 {
  @apply w-full h-6 flex ;
}
.auth_left7 {
  @apply w-[60%] flex items-center bg-amber-50;
}
.auth_left8 {
  @apply w-[30%] flex items-center ;
}
.auth_left9 {
  @apply w-[10%] h-10 flex items-center justify-center;
}
.auth_left10 {
  @apply w-2 h-6 space-y-1 cursor-pointer ml-2;
}
.auth_left11 {
  @apply auth-background w-0.5 h-0.5 rounded-full;
}
.auth_left12 {
  @apply w-50 p-2 rounded-sm border border-white shadow-md shadow-gray-400;
}
.auth_left13 {
  @apply w-50 h-6 flex;
}
.auth_left14 {
  @apply w-[16%] h-6 flex items-center;
}
.auth_left15 {
  @apply w-[84%] flex items-center h-7 text-sm;
}
.auth_left16 {
  @apply w-50 h-7 flex;
}
.auth_left17 {
  @apply w-[16%] h-7 flex items-center text-red-500;
}
.auth_left18 {
  @apply w-[84%] flex items-center h-7 text-red-500 text-sm;
}
.auth_left19 {
  @apply w-full h-10 flex;
}
.auth_left20 {
  @apply w-[70%] h-10 flex items-center text-gray-500;
}
/* .auth_left21 {
  @apply bg-violet-400-400 w-[30%] h-10 justify-center flex items-center;
} */
.auth_left22 {
  @apply auth-background w-5 h-5 rounded-full flex items-center justify-center text-white text-[12px];
}
.auth_right1 {
  @apply h-25 w-full flex items-end justify-center;
}
.auth_right2 {
  @apply bg-pink-400 w-15 h-15 rounded-full mb-1.5;
}
.auth_right3 {
  @apply bg-green-500 w-2 h-2 rounded-full absolute mb-3 ml-12;
}
.auth_right4 {
  @apply w-full;
}
.auth_right5 {
  @apply w-full flex justify-center;
}
.auth_right6 {
  @apply w-full h-7 flex justify-center;
}
.auth_right7 {
  @apply w-full flex;
}
.auth_right8 {
  @apply w-[50%];
}
.auth_right9 {
  @apply h-13 w-full flex items-center;
}
.auth_right10 {
  @apply w-full h-[1.5px] bg-[#E5E7EB];
}
.auth_right11 {
  @apply w-full h-20 flex items-center;
}
.auth_right12 {
  @apply w-full flex items-center space-x-2 border-b-2 border-[#E5E7EB];
}
.auth_right13 {
  @apply auth-background w-4 h-4 text-white text-[12px] rounded-full ml-5 flex items-center justify-center;
}
.auth_right14 {
  @apply w-full flex items-center space-x-2 border-b-2 border-[#E5E7EB];
}
.auth_right15 {
  @apply auth-background w-4 h-4 text-white text-[10px] rounded-full ml-7 flex items-center justify-center;
}
.auth_right16 {
  @apply ml-30;
}
