@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:where(.dark, .dark *));

/* ===============================
   1) Définition des variables
   =============================== */

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);

  /* Auth cards */
  --auth-color-primary: #eb397d;
  /* couleur du projet important*/
  --auth-color-text-custom-magenta: #822072;
  --auth-color-bg-white: #ffffff;
  --auth-color-button: #dc318d;
  --auth-color-icon: #e33486;
  --auth-color-input: #fadbf0;
  --auth-color-placeholder: #b15c8b;

  --auth-background: linear-gradient(135deg, #c02aa8 0%, #c02aa8 15%, #ee6984 60%, #fe7f78 100%);
  --auth-gradient-card: linear-gradient(135deg, #ea3a7e 14%, #ff7746 64%);
  --auth-gradient-but-card: linear-gradient(135deg, #e91e63 0%, #ff6b35 100%);
  --auth-color-bg: #fff;
  --auth-color-bg: ;
  --auth-color-green: #22c55e;
  --auth-color-text: #333;
  --auth-color-text-light: #fff;
  --auth-color-btn-bg: #d81b60;
  --auth-color-btn-bg-hover: #c2185b;
  --auth-color-input-border: #e91e63;
  --auth-shadow: 3px 4px 9px rgba(0, 0, 0, 0.5);
  --auth-card-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  --auth-card-shadow: 0 0 9px #c2185b;
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  /* Auth cards */
  --auth-color-primary: #eb397d;
  /* couleur du projet important*/
  --auth-color-text-custom-magenta: #822072;
  --auth-color-bg-white: #ffffff;
  --auth-color-green: #22c55e;
  --auth-color-button: #dc318d;
  --auth-color-icon: #e33486;
  --auth-color-input: #fadbf0;
  --auth-color-placeholder: #b15c8b;

  --auth-background: linear-gradient(135deg, #c02aa8 0%, #c02aa8 15%, #ee6984 60%, #fe7f78 100%);
  --auth-gradient-card: linear-gradient(135deg, #ea3a7e 14%, #ff7746 64%);
  --auth-gradient-but-card: linear-gradient(135deg, #e91e63 0%, #ff6b35 100%);
  --auth-color-bg: #fff;
  --auth-color-text: #333;
  --auth-color-text-light: #fff;
  --auth-color-btn-bg: #d81b60;
  --auth-color-btn-bg-hover: #c2185b;
  --auth-color-input-border: #e91e63;
  --auth-shadow: 3px 4px 9px rgba(0, 0, 0, 0.5);
  --auth-card-shadow: 0 0 9px rgba(0, 0, 0, 0.5);
  --auth-m-shadow: 0 0 5px #c2185b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* =========== Auth card ======== */
  --color-auth-primary: var(--auth-color-primary);
  --color-auth-secondary: var(--auth-color-secondary);
  --color-auth-text-light: var(--auth-color-text-light);
  --color-auth-btn-hover: var(--auth-color-btn-bg);
  --shadow-auth: var(--auth-shadow);
  --shadow-auth-card: var(--auth-card-shadow);
  --shadow-auth-cards: var(--auth-m-shadow);
  /*========couleur complet==========*/
  --color-auth-color-text-custom-magenta: var(--auth-color-text-custom-magenta);
  --color-auth-color-bg-white: var(--auth-color-bg-white);
  --color-auth-color-button: var(--auth-color-button);
  --color-auth-color-icon: var(--auth-color-icon);
  --color-auth-color-input: var(--auth-color-input);
  --color-auth-color-placeholder: var(--auth-color-placeholder);
  --color-auth-hover: var(--auth-color-btn-bg);
  --color-auth-colorx-green: var(--auth-color-green);
}
/* =========== Auth card ======== */
@utility auth-background {
  background: var(--auth-background);
}
@utility auth-card-bg-gradient {
  background: var(--auth-gradient-card);
}
@utility auth-card-bgs-gradient {
  background: var(--auth-gradient-but-card);
}
/* =============== End =============== */
.spinner {
  --d: 20.6px;
  width: 2.5px;
  height: 2.5px;
  border-radius: 50%;
  color: #e33486;
  box-shadow: calc(1*var(--d))      calc(0*var(--d))     0 0,
          calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1.1px,
          calc(0*var(--d))      calc(1*var(--d))     0 2.2px,
          calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3.4px,
          calc(-1*var(--d))     calc(0*var(--d))     0 4.5px,
          calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5.6px,
          calc(0*var(--d))      calc(-1*var(--d))    0 6.7px;
  animation: spinner-a90wxe 1s infinite steps(8);
}

@keyframes spinner-a90wxe {
  100% {
    transform: rotate(1turn);
  }
}
.tag {
  border: 1px solid #E5E7EB;
  border-radius: 13px;
  transform: rotate(0deg);
   /* height: 65px;  */
}
.tag:hover::before {
  content: '';
  position: absolute;
  top: 17.5px;
  left: -22px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
  cursor: pointer;
}

.tag:hover::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -19px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ea3a7e;
  cursor: pointer;
}
/*===================================*/
.tog {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #e0d8d8;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #c4c0c0;
  border-radius:13px;
  transform: rotate(0deg);
  /* height: 65px; */
}
.tog:hover::before {
  content: '';
  position: absolute;
  top: 17.5px;
  left: -22px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.tog:hover::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -19px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #eb3e7a;
}
/*===================================*/
.teg {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #e0d8d8;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #c4c0c0;
  border-radius:13px;
  transform: rotate(0deg);
  /* height: 65px; */
}
.teg:hover::before {
  content: '';
  position: absolute;
  top: 17.5px;
  left: -22px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}

.teg:hover::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -19px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #ee4772;
}
/*===================================*/
.tig {
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #e0d8d8;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #c4c0c0;
  border-radius:13px;
  transform: rotate(0deg);
  /* height: 65px; */
}
.tig:hover::before {
  content: '';
  position: absolute;
  top: 17.5px;
  left: -22px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #ffffff;
}
.tig:hover::after {
  content: '';
  position: absolute;
  top: 18px;
  left: -19px;
  transform: translateX(-50%);
  transform: rotate(-90deg);
  width: 0;
  height: 0;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-bottom: 13px solid #f14f6a;
}
/*================================*/
@keyframes spin-y {
  0% { transform: rotateY(0deg); }
  100% { transform: rotateY(360deg); }
}

.animate-spin-y {
  animation: spin-y 3s linear infinite;
  display: inline-block;
  transform-style: preserve-3d;
  perspective: 1000px;
}
