@reference '../../../../../global.css';

.auth_container {
  @apply auth-card-bg-gradient px-3 sm:auth-background min-h-screen w-full flex items-center justify-center;
}
.auth_card_container {
  @apply rounded-tl-sm rounded-tr-sm  bg-auth-color-bg-white w-full shadow-auth-card overflow-hidden sm:rounded-sm sm:h-[550px] sm:justify-between sm:w-[633px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
.auth_card_fond_container {
  @apply rounded-tl-sm rounded-tr-sm  w-full sm:rounded-sm sm:h-[611px] sm:w-[633px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
/* .auth_toprole {
  @apply ;
} */
