.pageContainer {
  min-height: 105vh; 
  background: var(--auth-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1rem;
}

.progressBarContainer {
  margin-top: 3rem;
  margin-bottom: 0.9rem;
}

.cardContainer {
  max-width: 80rem;
  width: 100%;
  padding: 0;
  margin-top: 0.7rem;
}

.cardContent {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cardLeft {
  flex: 1;
  padding: 1.2rem;
  background: var(--color-auth-color-bg-white);
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 78vh; 
}

.logoContainer {
  position: absolute;
  top: 0.8rem;
  left: 0.8rem;
}

.logo {
  filter: invert(var(--dark-mode-invert, 0));
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  flex: 1;
  padding: 0.3rem 0;
  margin-top: -0.3rem;
}

/* Texte */
.textContainer {
  width: 100%;
  max-width: 30rem;
  text-align: center;
  margin-bottom: 0.5rem; 
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-auth-color-text-custom-magenta);
  margin-bottom: 0.2rem; 
}

.subtitle {
  font-size: 1rem;
  color: var(--color-auth-color-text-custom-magenta);
}

/* Formulaire */
.formContainer {
  margin-top: 0.4rem;
}

.formSection {
  margin-bottom: 0.6rem;
}

.formSubtitle {
  font-size: 0.9rem;
  color: var(--color-auth-color-text-custom-magenta);
  margin-bottom: 0.15rem;
  line-height: 1.3;
}

/* Upload */
.uploadBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.15rem;
  width: 100%;        
  max-width: 40rem;    
}
.uploadSubtitle {
  font-size: 0.8rem;
  color: var(--color-auth-color-text-custom-magenta);
  margin-bottom: 0.08rem;
  line-height: 1.2;
}

.file-upload-label {
  height: 75px !important; 
  padding: 0.4rem !important;
  width: 100%;       
  max-width: 40rem;
}

.file-upload-file-item {
  padding: 0.3rem !important;
}

/* Boutons */
.buttonContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 28rem;
  gap: 10rem; 
  margin-top: 2rem;
}


.buttonPrimary {
  width: 50%;
  padding: 1rem 0;
  font-size: 1.125rem;
  background-color: var(--color-auth-color-button);
  color: var(--color-auth-color-bg-white);
  border-radius: 0.375rem;
  transition: background 0.2s ease;
}

.buttonPrimary:hover {
  background-color: var(--color-auth-btn-hover);
}

.buttonOutline {
  width: 50%;
  padding: 1rem 0;
  font-size: 1.125rem;
  border: 2px solid var(--color-auth-color-button);
  color: var(--color-auth-color-button);
  border-radius: 0.375rem;
  background-color: var(--color-auth-color-bg-white);
  transition: all 0.2s ease;
}

.buttonOutline:hover {
  background-color: var(--color-auth-color-button);
  color: var(--color-auth-color-bg-white);
}


/* Sidebar */
.sidebar {
  width: 22rem;
  background: var(--auth-background);
  padding: 0.75rem;
  color: var(--color-auth-text-light);
  background-color: var(--color-auth-dark-card);
  border-left: 1px solid var(--color-auth-dark-border);
}
