@reference '../../../app/global.css';
/*===========deux partie card===========*/
.auth_show1 {
  @apply w-full h-3/4 text-auth-color-bg-white overflow-hidden text-center sm:p-4 sm:pt-11 lg:px-14;
}
.auth_show2 {
  @apply text-xl lg:text-2xl  mb-5 mt-5 leading-tight;
}
.auth_show3 {
  @apply text-sm opacity-90 leading-relaxed;
}
/*.auth_show4 {
  @apply w-full min-h-[550px] uth-color-bg-white rounded-tr-md rounded-br-md sm:w-[50%] md:w-[45%] lg:w-[38%];
}*/
.auth_show5 {
  @apply w-full  h-[150px] flex items-center justify-center lg:h-1/3;
}
.auth_show6 {
  @apply h-20 w-auto sm:h-25 sm:mt-5;
}
.auth_show7 {
  @apply w-full h-3/2  px-6;
}
.auth_show8 {
  @apply space-y-5;
}
.auth_show9 {
  @apply h-5 w-5 text-auth-color-icon;
}
.auth_show10 {
  @apply cursor-pointer;
}
.auth_show11 {
  @apply h-5 w-5 text-auth-color-icon hover:text-auth-color-icon;
}
.auth_show12 {
  @apply h-5 w-5 text-auth-color-icon hover:text-auth-color-icon;
}
.auth_show13 {
  @apply text-xs text-red-500;
}
.auth_show14 {
  @apply flex items-center justify-center;
}
/*.auth_show15 {
  @apply animate-spin -ml-1 mr-3 h-5 w-5 text-auth-color-text-white;
}*/
.auth_show16 {
  @apply opacity-25;
}
.auth_show17 {
  @apply opacity-75;
}
.auth_show18 {
  @apply flex justify-center w-full;
}
.auth_show19 {
  @apply text-sm text-auth-color-text-custom-magenta font-semibold underline mb-4 mt-2 flex hover:text-auth-color-button  gap-2;
}
