@reference '../../global.css';

.auth_container {
  @apply auth-background min-h-screen w-full flex items-center justify-center;
}
.auth_card_container {
  @apply sm:rounded-tl-sm sm:rounded-tr-sm h-screen  bg-auth-color-bg-white w-full shadow-auth-card overflow-hidden sm:rounded-sm sm:h-[550px] sm:flex sm:justify-between sm:w-[633px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
