@reference '../../../../global.css';

.auth_container {
  @apply auth-background min-h-screen w-full sm:flex sm:items-center sm:justify-center;
}
.auth_card_fond_container {
  @apply rounded-tl-sm rounded-tr-sm w-full sm:rounded-sm sm:h-[600px] sm:w-[633px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
.auth_card_container {
  @apply rounded-tl-sm rounded-tr-sm shadow-auth-card overflow-hidden sm:rounded-sm sm:h-[536px] sm:flex sm:justify-between sm:w-[633px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
.auth_card_un_container {
  @apply hidden w-full bg-auth-color-bg-white overflow-auto pb-4 rounded-tl-sm h-screen sm:h-[536px] sm:block items-center md:w-[55%] sm:w-[50%] lg:w-[62%];
}
.auth_card_deux_container {
  @apply overflow-y-scroll sm:overflow-y-visible w-full sm:px-1 sm:pt-2 pb-4 bg-amber-50  sm:rounded-tr-md auth-card-bg-gradient sm:rounded-br-md h-screen  sm:h-[536px] sm:w-[50%] md:w-[45%] lg:w-[38%];
}
.auth_toprole {
  @apply hidden w-full h-[64] justify-between pl-13 sm:block;
}
.auth_image {
  @apply hidden sm:block sm:w-full sm:h-20  sm:not-first:sm:h-23 ;  
}
.auth_image2 {
  @apply h-15 w-auto mt-2 ml-6 sm:h-20;
}
