@reference '../../../app/global.css';

.auth_container {
  @apply auth-background min-h-screen w-full flex items-center justify-center;
}
.auth_card_container {
  @apply rounded-sm flex flex-row shadow-auth overflow-hidden max-w-4xl  h-[550px] sm:justify-between sm:w-[600px] md:w-[750px] lg:max-w-4xl lg:w-full;
}
