@reference '../../../../app/global.css';


.auth_toprol {
  @apply w-full h-60 sm:hidden;
}
.auth_toprole {
  @apply w-full h-[40%] flex justify-center items-center;
}
.auth_toprole1 {
  @apply w-full h-21;
}
.auth_toprole2 {
  @apply w-full h-[25%];
}
.auth_toprole3 {
  @apply w-[18%] pt-2 pr-4;
}
.auth_toprole4 {
  @apply relative flex justify-center mb-8;
}
.auth_toprole5 {
  @apply w-13 h-13 transform -rotate-90;
}
.auth_toprole6 {
  @apply transition-all duration-500 ease-in-out;
}
.auth_toprole7 {
  @apply absolute inset-0 flex items-center justify-center;
}
.auth_toprole8 {
  @apply text-sm font-bold text-auth-color-bg-white;
}
.auth_toprole9 {
  @apply hidden sm:max-w-4xl sm:w-full sm:h-20 sm:top-0 sm:flex sm:justify-center sm:space-x-1;
}
.auth_toprole10 {
  @apply bg-auth-color-black w-9 border-3 border-auth-color-bg-white h-9 rounded-full flex items-center justify-center text-auth-color-bg-white;
}
.auth_toprole11 {
  @apply text-auth-color-bg-white;
}
.auth_toprole12 {
  @apply  w-45 h-10 flex mt-4 justify-center;
}
.auth_toprole13 {
  @apply  bg-auth-color-bg-white w-full h-[2px];
}
.auth_toprole14 {
  @apply bg-[#C3BABA] w-9 border-3 border-auth-color-bg-white h-9 rounded-full text-center text-xl font-semibold text-auth-color-bg-white;
}
.auth_toprole15 {
  @apply text-auth-color-bg-white;
}


